<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= @team.name %>

    <%= form_tag edit_team_path(@team) do %>
      <div class="field">
        <%= label_tag 'password'%>
        <%= password_field_tag 'password' %>
        <%= submit_tag  'Edit' %>
      </div>
    <% end %>
<%= link_to 'Back', teams_path %> |
<%= link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' } %>