<p><%= @questionnaire.title %></p>
<p><%= simple_format(@questionnaire.discription) %></p>


<%= form_for(questionnaire_answer, :url => {:action => :create_answer}) do |f| %>

  <% questionnaire.questionnaire_items.each_with_index do |item, index| %>
    <%= fields_for "questionnaire_item_answers[]", QuestionnaireItemAnswer.new do |i| %>
      <%= i.label item.title %>
      <%= i.hidden_field 'questionnaire_item_id', value: item.id %>

      <div class="field">
      <% if item.is_multiple %>
        <%= collection_check_boxes(:questionnaire_choices_options, index, item.questionnaire_choices_options, :id, :option_name, include_hidden: false) %> 
      <% elsif %>
        <%= collection_radio_buttons(:questionnaire_choices_options, index, item.questionnaire_choices_options, :id, :option_name, include_hidden: false) %> 
      <% end %>
      </div>
      <% if item.is_exist_free_text %>
        <div class="field">
          <%= i.text_area :free_text_answer, class: 'form-control' %>
        </div>
      <% end %>
    

    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>