<%= simple_form_for(questionnaire) do |f| %>
  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title, label: 'アンケートタイトル', class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.input :password, label: '回答結果閲覧用パスワード', class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.input :header_discription, label: '説明(タイトルの下に表示されます)', class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.input :footer_discription, label: '説明(一番下に表示されます)', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.input :published_from, label: '回答開始期間', class: 'form-control date-picker', use_month_numbers: true  %>
  </div>

  <div class="field">
    <%= f.input :published_to, label: '回答終了期間', class: 'form-control date-picker', use_month_numbers: true  %>
  </div>
  <%= f.simple_fields_for :questionnaire_items do |i| %>
    <%= render 'questionnaire_item_fields', f: i %>
  <% end %>
  <%= link_to_add_association 'item追加', f, :questionnaire_items, class: 'btn btn-default' %>

  <div class="actions">
    <%= f.submit 'アンケート作成' %>
  </div>
<% end %>
