<%= form_for(questionnaire) do |f| %>
  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'アンケートタイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <!--パスワードっているかな？？
  <div class="field">
    <%= f.label :'password' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>-->
  <div class="field">
    <%= f.label :'説明(タイトルの下に表示されます)'%>
    <%= f.text_area :discription, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
