<%= form_for(questionnaire) do |f| %>
  <% if questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'アンケートタイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :'回答結果閲覧用パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :'説明(タイトルの下に表示されます)'%>
    <%= f.text_area :header_discription, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :'説明(タイトルの一番下に表示されます)'%>
    <%= f.text_area :footer_discription, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :'回答開始期間'%>
    <%= f.datetime_select :published_from, class: 'form-control date-picker', use_month_numbers: true %>
  </div>

  <div class="field">
    <%= f.label :'回答終了期間'%>
    <%= f.datetime_select :published_to, class: 'form-control date-picker', use_month_numbers: true %>
  </div>
  <%= fields_for QuestionnaireItem.new do |i| %>
    <div class="field">
      <%= i.label :'アンケートアイテムタイトル' %>
      <%= i.text_field :title, class: 'form-control' %>
    </div>
    <div class="field">
      <%= i.label :'テキストエリア表示' %>
      <%= i.check_box :is_exist_free_text, class: 'form-control' %>
    </div>
    <div class="field">
      <%= i.label :'テキストエリア複数選択' %>
      <%= i.check_box :is_multiple, class: 'form-control' %>
    </div>
    <%= fields_for QuestionnaireChoicesOption.new do |c| %>
      <%= c.label :'選択肢名' %>
      <%= c.text_field :option_name, class: 'form-control' %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit 'アンケート作成' %>
  </div>
<% end %>
