<p id="notice"><%= notice %></p>

<p><%= @questionnaire.title %></p>
<p><%= @questionnaire.discription %></p>
<% @questionnaire.questionnaire_items.each do |item| %>
  <p><%= item.title %></p>
  <% item.questionnaire_choices_options.each do |option| %>
    <p><%= option.option_name %></p>
  <% end %>
<% end %>

<%= link_to 'アンケートに答える', answer_questionnaire_path(@questionnaire) %>

<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>
