<% if flash[:notice] %>
  <div class="notice alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<h2><%= @questionnaire.title %></h2>
<%= simple_format(@questionnaire.discription) %>
<% @questionnaire.questionnaire_items.each do |item| %>
  <hr>
  <p><%= item.title %></p>
  選択肢：
  <% item.questionnaire_choices_options.each do |option| %>
    <%= option.option_name %>&nbsp;
  <% end %>
<% end %>

<%= link_to 'アンケートに答える', answer_questionnaire_path(@questionnaire) %>

<% #link_to 'Edit', edit_questionnaire_path(@questionnaire) TODO アンケート回答期間でないかつ、誰もアンケートに答えてない場合に出す%>
