<!--汎用で使いたいから application.js に書くべきだと思うんだけど、そこに書くとたまに動かなくなる　一旦ここに-->
<%= javascript_tag do %>
  $(function(){
    $(".select2").select2({
    });
  });
<% end %>

<%= form_for(recruit) do |f| %>
  <% if recruit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruit.errors.count, "error") %> prohibited this recruit from being saved:</h2>

      <ul>
      <% recruit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'募集タイトル' %>
    <%= f.text_field :title , class: 'form-control'%>
  </div>
  <% unless @is_team %>
    <%= f.fields_for recruit.team do |t| %>
      <div class="field">
        <%= t.label :'団体名' %>
        <%= t.text_field :name, class: 'form-control' %>
      </div>
      <div class="field">
        <%= t.label :'password' %>
        <%= t.password_field :password, class: 'form-control' %>
      </div>
      <div class="field">
        <%= t.label :'団体種別' %><br/>
        <%= t.select :type_ids, Type.all.map {|t| [t.name, t.id]}, {}, multiple: true, class: 'form-control select2' %>
      </div>
      <div class="field">
        <%= t.label :'活動地域' %><br/>
        <%= t.select :region_ids, Region.all.map {|r| [r.name, r.id]}, {}, multiple: true, class: 'form-control select2' %>
      </div>
      <div class="field">
        <%= t.label :'連絡用メールアドレス' %>
        <%= t.text_field :mail, class: 'form-control' %>
      </div>
      <div class="field">
        <%= t.label :'団体ホームメージ' %>
        <%= t.text_field :url, class: 'form-control' %>
      </div>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :'練習場所' %>
    <%= f.text_field :practice_place , class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :'練習時間' %>
    <%= f.text_field :practice_time, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :'募集楽器' %><br/>
    <%= f.select :instrument_ids, Instrument.all.map {|i| [i.to_name_and_short_name, i.id]}, {}, multiple: true, class: 'form-control select2' %>
  </div>

  <div class="field">
    <%= f.label :'自由欄'%>
    <%= f.text_area :free_text, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :'掲載開始期間'%>
    <%= f.datetime_select :published_from, class: 'form-control date-picker', :use_month_numbers => true %>
  </div>

  <div class="field">
    <%= f.label :'掲載終了期間'%>
    <%= f.datetime_select :published_to, class: 'form-control date-picker', :use_month_numbers => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <p><%= link_to 'Destroy', @recruit, method: :delete, data: { confirm: 'Are you sure?' } if recruit.id %></p>
<% end %>
