<%= javascript_tag do %>
$(function(){
  $('.date-picker').datetimepicker({
    format: 'YYYY/MM/DD HH:mm',
    inline: false,
    sideBySide: true
  });
});
<% end %>

<%= form_for(recruit) do |f| %>
  <% if recruit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruit.errors.count, "error") %> prohibited this recruit from being saved:</h2>

      <ul>
      <% recruit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for recruit.team do |t| %>
    <div class="field">
      <%= t.label :'団体名' %>
      <%= t.text_field :name, class: 'form-control' %>
    </div>
    <div class="field">
      <%= t.label :'password' %>
      <%= t.password_field :password, class: 'form-control' %>
    </div>
    <div class="field">
      <%= t.label :'連絡用メールアドレス' %>
      <%= t.text_field :mail, class: 'form-control' %>
    </div>
    <div class="field">
      <%= t.label :'団体ホームメージ' %>
      <%= t.text_field :url, class: 'form-control' %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :'練習場所' %>
    <%= f.text_field :practice_place , class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :'練習時間' %>
    <%= f.text_field :practice_time, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :'募集楽器' %><br/>
    <%= f.select :instrument_ids, Instrument.all.map {|i| [i.name, i.id]}, {}, multiple: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :'自由欄'%>
    <%= f.text_area :free_text, class: 'form-control' %>
  </div>
  
  <%= f.label :'掲載開始期間'%>
  <div class='input-group date-picker'>
    <%= f.text_field :published_to, class: 'form-control' %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <%= f.label :'掲載終了期間'%>
  <div class='input-group date-picker'>
    <%= f.text_field :published_from, class: 'form-control' %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <p><%= link_to 'Destroy', @recruit, method: :delete, data: { confirm: 'Are you sure?' } if recruit.id %></p>
<% end %>
