<%= form_for(recruit) do |f| %>
  <% if recruit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruit.errors.count, "error") %> prohibited this recruit from being saved:</h2>

      <ul>
      <% recruit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for recruit.team do |t| %>
    <div class="field">
      <%= t.label :'団体名' %>
      <%= t.text_field :name %>
    </div>
    <div class="field">
      <%= t.label :'password' %>
      <%= t.password_field :password %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :practice_place %>
    <%= f.text_field :practice_place %>
  </div>

  <div class="field">
    <%= f.label :practice_time %>
    <%= f.text_field :practice_time %>
  </div>

  <div class="field">
    <%= f.label :instrument_ids %><br/>
    <%= f.select :instrument_ids, Instrument.all.map {|i| [i.name, i.id]}, {}, multiple: true %>
  </div>

  <div class="field">
    <%= f.label :free_text %>
    <%= f.text_field :free_text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
