<div class="col-md-12">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= recruit.team.name %>
            <% recruit.team.types.each do |type| %>
          <span class="badge"><%= type.name %></span>
        <% end %>
      </h3>
    </div>
    <div class="panel-body">
      <p>練習場所:<%= recruit.practice_place %></p>
      <p>練習時間:<%= recruit.practice_time %></p>
      <p>連絡先:<%= recruit.team.mail %></p>
      <p>募集楽器:<br>
        <% recruit.instruments.map { |instrument| instrument.instrument_category }.uniq.each do |c| %>
          &nbsp;&nbsp;<%= c %>:
          <% recruit.instruments.each do |i| %>
            <span class="badge"><%= i if i.instrument_category == c %></span>
          <% end %><br>
        <% end %>
      </p>
    </div>
  </div>
</div>