

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1>団員募集</h1>
    <div class="col-md-12">
      <h3>団員募集検索</h3>
      <%= form_tag({controller: "recruits"}, method: :get)do %>
        <div class="form-group">
          <label class="col-sm-2" for="service_vlan_resource_id">募集楽器</label>
          <div class="col-sm-3">
            <%=
              select_tag 'instrument_id',
                          options_from_collection_for_select(Instrument.all, :id, :to_s, params[:instrument_id]),
                          class: 'form-control chosen-select',
                          include_blank: true
            %>
          </div>
          <%= submit_tag  '検索', class: "btn btn-default btn-sm" %>
        </div>
      <% end %>
    </div>
    <% @recruits.each do |recruit| %>
      <%= link_to recruit, style: "text-decoration:none;" do %>
        <%= render partial: 'recruit', locals: { recruit: recruit } %>
      <% end %>
    <% end %>
    <%= paginate @recruits %>
    <br>

    <%= link_to '新しく団員募集をする', new_recruit_path %>
  </div>
</div>
