<%= javascript_tag do %>
$(function() {
  //data-hrefの属性を持つtrを選択しclassにclickableを付加
  $('tr[data-href]').addClass('clickable')
    //クリックイベント
    .click(function(e) {
      //e.targetはクリックした要素自体、それがa要素以外であれば
      if(!$(e.target).is('a')){
        //その要素の先祖要素で一番近いtrの
        //data-href属性の値に書かれているURLに遷移する
        window.location = $(e.target).closest('tr').data('href');}
  });
});
<% end %>

<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h1>団員募集</h1>
    <div class="col-md-12">
      <h3>団員募集検索</h3>
      <%= form_tag({controller: "recruits"}, method: :get)do %>
        <div class="form-group">
          <label class="col-sm-2" for="service_vlan_resource_id">募集楽器</label>
          <div class="col-sm-3">
            <%=
              select_tag 'instrument_id',
                          options_from_collection_for_select(Instrument.all, :id, :to_s, params[:instrument_id]),
                          class: 'form-control chosen-select',
                          include_blank: true
            %>
          </div>
          <%= submit_tag  '検索', class: "btn btn-default btn-sm" %>
        </div>
      <% end %>
    </div>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>団体名</th>
          <th>団体ホームぺージ</th>
          <th>練習時間</th>
          <th>募集楽器</th>
        </tr>
        <% @recruits.each do |recruit| %>
          <tr data-href=<%= recruit_path(recruit) %>>
            <td><%= recruit.team.name %></td>
            <td><%= link_to_if(recruit.team.url.present?, 'URL飛びます', recruit.team.url){} %></td>
            <td><%= recruit.practice_time %></td>
            <td>
              募集楽器:<br>
                <% recruit.instruments.map { |instrument| instrument.instrument_category }.uniq.each do |c| %>
                  &nbsp;&nbsp;<%= c %>:
                  <% recruit.instruments.each do |i| %>
                    <span class="badge"><%= i if i.instrument_category == c %></span>
                  <% end %><br>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @recruits %>
    <br>

    <%= link_to '新しく団員募集をする', new_recruit_path %>
  </div>
</div>
