<p id="notice"><%= notice %></p>

<h1>Recruits</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>団体名</th>
      <th>メール</th>
      <th>URL</th>
      <th>練習時間</th>
      <th>募集楽器</th>
    </tr>
    <% @recruits.each do |recruit| %>
      <tr>
        <td><%= recruit.team.name %></td>
        <td><%= recruit.team.mail %></td>
        <td><%= recruit.team.url %></td>
        <td><%= recruit.practice_time %></td>
        <td><%= recruit.instruments.pluck(:name) %></td>
        <td><%= recruit.post_period_from %></td>
        <td><%= recruit.post_period_to %></td>
        <td><%= link_to '詳細', recruit, class:'btn btn-default btn-sm' %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しく団員募集をする', new_recruit_path %>
