<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <% if @recruit.published_from > DateTime.now %>
      <div class="alert alert-danger">
        この募集は掲載期間前です
      </div>
    <% else %>
      <% if @recruit.published_to < DateTime.now %>
        <div class="alert alert-danger">
          この募集は募集期間を過ぎています
        </div>
      <% end %>
      <h1><%= @recruit.team.name %></h1>
      <% @recruit.team.types.each do |type| %>
        <span class="badge"><%= type %></span>
      <% end %>
      <div class="row">
        <div class="col-sm-offset-1 col-md-11">
          <p>練習場所:<%= @recruit.practice_place %></p>
          <p>練習時間:<%= @recruit.practice_time %></p>
          <p>連絡先:<%= @recruit.team.mail %></p>
          <p>URL:<%= link_to @recruit.team.url %></p>
          <p>募集楽器:<br>
            <% @recruit.instruments.map { |instrument| instrument.instrument_category }.uniq.each do |c| %>
              &nbsp;&nbsp;<%= c %>:
              <% @recruit.instruments.each do |i| %>
                <span class="badge"><%= i if i.instrument_category == c %></span>
              <% end %><br>
            <% end %>
          </p>
          <p><%= simple_format(@recruit.free_text) %></p>
        </div>
      </div>
    <% end %>
    <%= form_tag edit_recruit_path(@recruit) do %>
      <div class="field">
        <%= label_tag 'password'%>
        <%= password_field_tag 'password' %>
        <%= submit_tag  'Edit' %>
      </div>
    <% end %>
    <p><%= link_to 'Back', recruits_path %></p>
  </div>
</div>
